*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}


.rank{
    height: 2rem;
    width: 2rem;
    padding: 1.2rem;
    text-align: center;
    outline: 1px solid black;
}

.rankContainer{
    display: flex;
    outline: 1px solid black;
}

.rankZone{
    width: 60rem;
}

.rankz{
    height: 4.4rem;
    width: 60rem;
    outline: 1px solid black;
    display: flex;
    align-items: center;
}

.colorContainer{
    display: flex;
    gap: 0.5rem;
    outline: 1px solid black;
    padding: 1rem;
}

.color{
    height: 4rem;
    width: 4rem;
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#c1{
    background-color: yellow;
}

#c2{
    background-color: yellowGreen;
}

#c3{
    background-color: green;
}

#c4{
    background-color: #088F8F;
}

#c5{
    background-color: blue;
}

#c6{
    background-color: blueviolet;
}

#c7{
    background-color: violet;
}

#c8{
    background-color: #c71585;
}

#c9{
    background-color: red;
}

#c10{
    background-color: #FF5349;
}

#c11{
    background-color: orange;
}

#c12{
    background-color: #FFAE42;
}


.rank:nth-child(1){
    background-color: #ff7f7f;
}

.rank:nth-child(2){
    background-color: #ffbf7f;
}

.rank:nth-child(3){
    background-color: #ffdf7f;
}

.rank:nth-child(4){
    background-color: #ffff7f;
}

.rank:nth-child(5){
    background-color: #bfff7f;
}

.rank:nth-child(6){
    background-color: #7fff7f;
}

.color:hover{
    border-radius: 1rem;
    transition: ease-in 0.1s;
}

.newColor{
    height: 4.4rem;
    width: 4.4rem;
    outline: 1px solid black;
    border-radius: 1rem;
}

@media screen and (max-width:1000px){

    .rankZone{
            width: 40rem;
        }
        
    .rankz{
        height: 4.4rem;
        width: 40rem;
        outline: 1px solid black;
        display: flex;
        align-items: center;
    }

        
    .colorContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        outline: 1px solid black;
        padding: 1rem;
        width: 30rem;
        flex-wrap: wrap;
    }
        
}

/*for mobile device*/

@media screen and (max-width:700px){

    .rankZone{
            width: 20rem;
        }
        
    .rankz{
        height: 8.4rem;
        width: 20rem;
        outline: 1px solid black;
        display: flex;
        align-items: center;
    }

        
    .colorContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        outline: 1px solid black;
        padding: 1rem;
        width: 20rem;
        flex-wrap: wrap;
    }

    .rank{
        height: 6rem;
        width: 2rem;
        padding: 1.2rem;
        text-align: center;
        outline: 1px solid black;
    }
        
}